        <div class="row">
            <div class="col-md-4 thumb2">
                <a href="#" data-toggle="modal" data-target="#mod1">
                    <img src="{{ gallery.next_image().path }}" alt=" ">
                </a>
            </div>
            <div class="col-md-4 thumb2">
                <a href="#" data-toggle="modal" data-target="#mod1">
                    <img src="{{ gallery.next_image().path }}" alt=" ">
                </a>
            </div>
            <div class="col-md-4 thumb2">
                <a href="#" data-toggle="modal" data-target="#mod1">
                    <img src="{{ gallery.next_image().path }}" alt=" ">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 thumb">
                <a href="#" data-toggle="modal" data-target="#mod1">
                    <img src="{{ gallery.next_image().path }}" alt=" ">
                </a>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 thumb1">
                        <a href="#" data-toggle="modal" data-target="#mod1">
                            <img src="{{ gallery.next_image().path }}" alt=" ">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 thumb1">
                        <a href="#" data-toggle="modal" data-target="#mod1">
                            <img src="{{ gallery.next_image().path }}" alt=" ">
                        </a>
                    </div>
                </div>
            </div>
        </div>