<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pangestoe Bespoke</title>
    <link rel="icon" href= "{{ url_for('static', filename='img/favicon_.png') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery_view.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/lWvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='css/bootstrap.min.js') }}" async></script>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
			  crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
    // language=JQuery-CSS
        $('meta[name="viewport"]').prop('content', 'width=1280');
    });
    </script>
</head>
<body>
    <div class="container" id="main_container">
        <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-between">
            <a href="/"><div class="logo"><img src="{{ url_for('static', filename='img/logo_placeholder.png') }}"></div></a>
            <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item ">
                        <a class="nav-link" href="#about">About<span class="sr-only">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
                    <li class="nav-item"><a class="nav-link" href="mailto:info@pangestoebespoke.com?subject=Subject&body=message%20goes%20here"><i class="fa fa-envelope"></i></a> </li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/pangestoe_bespoke/"><i class="fab fa-instagram"></i></a> </li>
                </ul>
            </div>
        </nav>

{% block content %}

{% endblock %}

        </div>
</body>
</html>