<div class="fh5co-gallery">

<a class="gallery-item" href="#">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail1.jpg') }}">
<span class="overlay">
<h2>View Full Image</h2>
</span>
</a>
<a class="gallery-item" href="#">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail2.jpg') }}">
<span class="overlay">
<h2>View Full Image</h2>
</span>
</a>
<a class="gallery-item" href="#">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail3.jpg') }}">

</a>
<a class="gallery-item" href="#">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail4.jpg') }}">
<span class="overlay">
<h2>View Full Image</h2>
</span>
</a>
<a class="gallery-item" href="#">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail5.jpg') }}">
<span class="overlay">
<h2>View Full Image</h2>
</span>
</a>
<a class="gallery-item" href="#">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail6.jpg') }}">
<span class="overlay">
<h2>View Full Image</h2>
</span>
</a>
<a class="gallery-item" href="#">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail7.jpg') }}">
<span class="overlay">
<h2>View Full Image</h2>
</span>
</a>
<a class="gallery-item" href="#">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail8.jpg') }}">
<span class="overlay">
<h2>View Full Image</h2>
</span>
</a>

</div>