{%  extends "base.html" %}
{% block content %}
    <div class="row">
            <h1 id="about_title">Gallery</h1>
    </div>
    <div class="container gal">
        <div class="row">
           <div class="col-md-8 thumb">
                <a href="#" data-toggle="modal" data-target="#mod1">
                    <img src="{{ url_for('static', filename="img/banners/cover.jpg") }}">
                </a>
            </div>
            <div class="col-md-4 thumb">
                <a href="#" data-toggle="modal" data-target="#mod1">
                    <img src="{{ url_for('static', filename="img/banners/banner1.jpg") }}">
                </a>
            </div>
        </div>
        <div class="row">
           <div class="col-md-3 thumb">
            </div>
            <div class="col-md-9 thumb">
            </div>
        </div>
    </div>

{% endblock %}