<div class="fh5co-gallery">

<a class="gallery-item">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail1.jpg') }}">
</a>
<a class="gallery-item">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail2.jpg') }}">
</a>
<a class="gallery-item">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail3.jpg') }}">
</a>
<a class="gallery-item">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail4.jpg') }}">
</a>
<a class="gallery-item">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail5.jpg') }}">
</a>
<a class="gallery-item">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail6.jpg') }}">
</a>
<a class="gallery-item">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail7.jpg') }}">
</a>
<a class="gallery-item" href="#">
<img src="{{ url_for('static', filename='img/thumbnails/thumbnail8.jpg') }}">
<span class="overlay">
<h2>View Full Gallery</h2>
</span>
</a>

</div>