.gal{
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px 20px 20px;
}
.row {
    margin: auto auto;
}
.thumb {
    width: 66.66%;
    padding-top: 66.66%;
}
.col-md-4{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.thumb1{
    width: 100%;
    padding-top: 100%;
}

.thumb2{
    width: 33.333%;
    padding-top: 33.333%;
}

.thumb img {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
    padding: 5px;
}

.thumb1 img {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
    padding: 5px;
}
.thumb2 img {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
    padding: 5px;
}
img:before {
    background-color: rgba(6, 22, 57, 0.95);
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}